### Created on 2025
### @author: S.W

### **Python 주요 기본 자료형**

#### int (정수형)

In [1]:
x = 10
y = -5
z = x + y  # 결과: 5
print(z)

5

#### float (실수형)

In [2]:
pi = 3.14
temperature = -0.5
result = pi * 2
print(result)  # 결과: 6.28

6.28

#### bool (논리형)

In [3]:
is_active = True
is_closed = False

print(is_active and not is_closed)  # 결과: True

True

#### str (문자열)

In [4]:
name = "Alice"
greeting = 'Hello, ' + name
print(greeting)  # 결과: Hello, Alice

Hello, Alice

#### complex (복소수형)

In [5]:
c = 3 + 4j
print(c.real)  # 3.0, 실수부
print(c.imag)  # 4.0, 허수부

3.0
4.0

#### range (범위형)

In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

### **형 변환**

In [7]:
num_str = "10"
num_int = int(num_str)
num_float = float(num_int)
num_str2 = str(num_float)

print(num_int, type(num_int))      # 10 <class 'int'>
print(num_float, type(num_float))  # 10.0 <class 'float'>
print(num_str2, type(num_str2))    # '10.0' <class 'str'>

10 <class 'int'>
10.0 <class 'float'>
10.0 <class 'str'>

### **출력 방법: print(), format(), f-string**

#### print() 함수 기본 사용법

In [8]:
name = "Alice"
age = 25
print(name, "is", age, "years old.")  # Alice is 25 years old.

Alice is 25 years old.

#### format() 메서드 사용법

In [9]:
# 기본 사용
print("My name is {} and I'm {} years old.".format(name, age))

# 인덱스 사용
print("Name: {0}, Age: {1}".format(name, age))

# 키워드 인수 사용
print("Name: {n}, Age: {a}".format(n=name, a=age))

My name is Alice and I'm 25 years old.
Name: Alice, Age: 25
Name: Alice, Age: 25

#### f-string (파이썬 3.6 이상)

In [10]:
print(f"My name is {name} and I'm {age} years old.")

# 중괄호 안에 연산도 가능
print(f"Next year, I will be {age + 1} years old.")

My name is Alice and I'm 25 years old.
Next year, I will be 26 years old.

#### 출력 옵션

In [11]:
print("apple", "banana", "cherry", sep=", ")  # apple, banana, cherry
print("Hello", end=" ")
print("World!")                              # Hello World!

apple, banana, cherry
Hello World!

### **파이썬 연산자**

In [12]:
# 산술 연산
a = 10
b = 3
print(a + b, a - b, a * b, a / b, a // b, a % b, a ** b)

13 7 30 3.3333333333333335 3 1 1000

In [13]:
# 비교 연산
print(a > b, a == 10, b != 0)

True True True

In [14]:
# 논리 연산
print((a > 5) and (b < 5))
print(not (a == 3))

True
True

In [15]:
# 대입 연산
num = 5
num += 2  # num = 7
num *= 3  # num = 21
print(num)

21

### **제어문**

#### if 문

In [16]:
x = 10
if x > 5:
    print("x는 5보다 큽니다.")
# 출력: x는 5보다 큽니다.

x는 5보다 큽니다.

#### if ~ else 문

In [17]:
score = 70
if score >= 60:
    print("합격입니다.")
else:
    print("불합격입니다.")
# 출력: 합격입니다.

합격입니다.

#### if ~ elif ~ else 다중 조건문

In [18]:
num = 0

if num > 0:
    print("양수입니다.")
elif num < 0:
    print("음수입니다.")
else:
    print("0입니다.")
# 출력: 0입니다.

0입니다.

#### 중첩 조건문 (Nested if)

In [19]:
age = 20
if age >= 18:
    if age < 65:
        print("성인입니다.")
    else:
        print("노년입니다.")
else:
    print("미성년자입니다.")
# 출력: 성인입니다.

성인입니다.

#### 조건문의 다양한 활용

In [20]:
# 비교/논리 연산과 함께 사용
a = 10
b = 5
if a > 0 and b > 0:
    print("둘 다 0보다 큽니다.")

둘 다 0보다 큽니다.

In [21]:
# 한 줄로 쓰는 조건문 (삼항 연산자)
x = 5
result = "짝수" if x % 2 == 0 else "홀수"
print(result)  # 출력: 홀수

홀수

### **반복문**

#### for 문

In [22]:
# 리스트의 모든 값 출력
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [23]:
# 0부터 4까지 출력 (range 함수 사용)
for i in range(5):
    print(i)
# 출력: 0 1 2 3 4

0
1
2
3
4

In [24]:
# 다양한 시퀀스에서 반복 - 문자열
for char in "Python":
    print(char)

P
y
t
h
o
n

In [25]:
# 중첩 for문
matrix = [[1,2],[3,4]]
for row in matrix:
    for val in row:
        print(val)

1
2
3
4

In [26]:
# enumerate, zip 등과 활용
names = ["A", "B"]
scores = [90, 85]
for idx, name in enumerate(names):
    print(idx, name)
for n, s in zip(names, scores):
    print(n, s)

0 A
1 B
A 90
B 85

#### while 문

In [27]:
# 1부터 5까지 출력
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [28]:
# break 예제
for i in range(10):
    if i == 5:
        break
    print(i)  # 0 1 2 3 4

# continue 예제
for i in range(5):
    if i % 2 == 0:
        continue
    print(i)  # 1 3

0
1
2
3
4
1
3

In [29]:
# else와 함께 사용
for i in range(3):
    print(i)
else:
    print("반복 종료")

0
1
2
반복 종료

-----

### **함수 기본**

#### 가장 단순한 함수 예제

In [30]:
def greet():
    print("안녕하세요!")

greet()  # 호출 결과: 안녕하세요!

안녕하세요!

#### 매개변수(Parameter)와 인수(Argument)

In [31]:
def add(a, b):
    return a + b

result = add(3, 5)
print(result)  # 출력: 8

8

#### 반환값(return) 사용법

In [32]:
def square(x):
    return x ** 2

print(square(4))  # 출력: 16

16

#### 다양한 형태의 함수 정의

In [33]:
# 기본값 매개변수
def greet(name="친구"):
    print(f"안녕, {name}!")

greet()           # 출력: 안녕, 친구!
greet("보라")     # 출력: 안녕, 보라!

안녕, 친구!
안녕, 보라!

In [34]:
# 키워드 인수 사용
def introduce(name, age):
    print(f"이름: {name}, 나이: {age}")

introduce(age=20, name='영희')  # 이름과 순서 달라도 됨

이름: 영희, 나이: 20

In [35]:
# 여러 개의 인수를 받을 때 (*args, **kwargs)
def sum_all(*numbers):
    total = 0
    for n in numbers:
        total += n
    return total

print(sum_all(1,2,3,4))  # 출력: 10

10

#### 함수와 범위

In [36]:
x = 5  # 전역 변수

def change():
    x = 10  # 지역 변수
    print(x)

change()  # 10
print(x)  # 5

10
5